@charset "UTF-8";

/*geral*/
*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    box-sizing: border-box;
}

body{
    background-image: url(../img/img-1.jpg);
    background-position: center;
    background-size: cover;
}

button{
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

button:hover{
    background-color: #102f5e;
}

button:hover > i {
    color: white;
}

button i{
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}

input, select{
    padding: 0.25rem 0.5rem;
}

.hide{
    display: none;
}

/* header */
.todo-conteudo{
    max-width: 450px;
    margin: 3rem auto 0;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-conteudo header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* form */
#form-todo, #edit-form{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#form-todo p, #edit-form p{
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.controle-form{
    display: flex;
}

.controle-form input{
    margin-right: 0.3rem;
}

#cancel-edit{
    margin-top: .8rem;
}

/* toolbar */
#ferramentas{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#ferramentas h4{
    margin-bottom: 0.5rem;
}

#pesquisa{
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#pesquisa form{
    display: flex;
}

#pesquisa input{
    width: 100%;
    margin-right: .3rem;
}

#filtrar{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filtrar select{
    flex: 1;
}

/*list*/
.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom:1px solid #ddd;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: .9rem;
  }
  
  .todo button {
    margin-left: .4rem;
  }
  
  .done {
    background: #395169;
  }
  
  .done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
  }